.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.logo_black {
    width: 148px;
    height: 105px;
}

.header__menu {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 0 33.5px;
    list-style: circle;
    list-style-position: outside;
}

.none_style {
    list-style: none;
  }
  
.none_underline {
    text-decoration: none;
}

.header_contacts {
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    list-style: none;
    line-height: 24.3px;
}

.underline { 
    text-decoration: none;
    border-bottom: 1px solid black;
}

.cover {
    padding: 165px 50px 50px 50px;
    margin-bottom: 180px;
    height: 757px;
    background-color: black;
    position: relative;
    display: grid;
    align-content:space-between ;
    box-sizing: border-box;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 20px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.title_text_left {
    
    text-align: start;
    font-size: 100px;
    line-height: 115px;    
}

.title_text_center {
    text-align: center;  
    font-size: 100px;
}

.title_text_right { 
    left: -30px;
    text-align: end; 
    font-size: 100px;   
}

.description {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description_text {
    position:relative;
    z-index: 2;
    color:white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 150;
    line-height: 28px;
    word-spacing: 18.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;   
}

.cover_botton {
    position: relative;
    z-index: 2;
    background: none;
    border: line 1px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    margin: 0 24px 120px 24px;
    display: flex;
    flex-direction: column;
}

.lots_title {
    margin: 0 0 27px 40px;
    color: black;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots_card-list {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

.lots_card-list-item {
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 48px 40px;
    position: relative;
    display: flex;
    align-content: space-between;
    width: 334px;
    min-height: 596px;
    display: grid;
}

.card__title {
    z-index: 2;
    height: 100%;
    position: relative;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card__text {
    height: 100%;
    z-index: 2;
    position: relative;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.card_type_film {   
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_see_more {
    margin-left: 40px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-underline-position: from-font;
}

.about {
    margin: 0 24px 180px 24px;
    padding-left: 27px;
    height:595px;
    display: grid;
    grid-template-columns: 284px max-content;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.logo_bg {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    align-content: center;
    justify-content: center;   
}

.logo_white {
    width: 148px;
    height: 114px;
}

.column_text {
    margin: 103px 0 0 27px;
    width: 693px;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    word-wrap: normal;
}

.about_text-item {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-overflow: clip;
}

.about_title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    text-transform: uppercase;
}

.paragraph1 {
    margin-bottom: 24px;
}

.footer {
    padding: 0 50px;
    height: 180px;
    display: grid;
    grid-template-columns: 264px 164px 240px;
    justify-content: space-between;
    align-content: start;  
}

.footer_contacts {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 264px;
    height: 98px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 21.13px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.footer_socials {
    height: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.socials{
    width: 48px;
    height: 48px;
}