.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.logo_header {
    width: 148px;
    height: 105px;
}

.header__menu {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 0 33.5px;
    list-style: circle;
    list-style-position: outside;
}

.links-list-item_no-bullit {
    list-style: none;
  }

.header_address {
    max-width: 240px;
    justify-self: end;
    
}

.address
{
    font-size: 18px;
    line-height: 24.3px;
}

.underline { 
    text-decoration: none;
    border-bottom: 1px solid black;
}


.overlay { 
    inset: 0; 
    width: 100%; 
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
  }

.cover {
    padding: 165px 50px 50px 50px;
    margin-bottom: 180px;
    min-height: 757px;
    height: 100%;
    background-color: black;
    position: relative;
    display: grid;
    align-content:space-between ;
    box-sizing: border-box;
    background-image: url(../images/cover.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 20px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.title_text_left {
    
    text-align: start;
    font-size: 100px;
    line-height: 115px;    
}

.title_text_center {
    text-align: center;  
    font-size: 100px;
    margin-right: -0.3em;
}

.title_text_right { 
    text-align: end; 
    font-size: 100px; 
    margin-right: -0.3em;  
}

.description {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description_text {
    position:relative;
    z-index: 2;
    color:white;
    font-size: 22px;
    font-weight: 150;
    line-height: 28px;
    word-spacing: 18.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;   
}

.cover_botton {
    position: relative;
    z-index: 2;
    background: none;
    border: line 1px;
    border: 1px solid currentColor;
    color: #FFFFFF;
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    margin: 0 24px 120px 24px;
    display: flex;
    flex-direction: column;
}

.lots_title {
    margin: 0 0 27px 40px;
    color: black;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots_card-list {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

.lots_card-list-item {
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 48px 40px;
    position: relative;
    display: flex;
    align-content: space-between;
    width: 334px;
    min-height: 596px;
    display: grid;
    background-size: cover;
}

.card__title {
    z-index: 2;
    height: 100%;
    position: relative;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card__text {
    height: 100%;
    z-index: 2;
    position: relative;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.card_type_film {   
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;

}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;

}

.lots_see_more {
    max-width: 192px;
    width: 100%;
    margin-left: 40px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-underline-position: from-font;
}

.about {
    margin: 0 24px 156px 47px;
    padding: 31px 0 0 25px;
    display: grid;
    grid-template-columns: 284px max-content;
    position: relative;
}

.logo_bg {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    align-content: center;
    justify-content: center;  
}

.logo_about {
    width: 148px;
    height: 114px;
}

.column_text {
    margin: 103px 0 0 27px;
    width: 693px;   
}

.about_text-item {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-overflow: clip;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 98px 0;
    flex-wrap: wrap;
    word-wrap: normal;
    text-align: left;
}

.about_title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.paragraph1 {
    margin-bottom: 24px;
}

.footer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 264px 187px 240px;
    align-content: start;  
    justify-content: space-between;
}

.footer_address {
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 264px;
    /* height: 98px; */
}

.footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 64px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-self: center;
    padding-right: 20px;
}

.footer_socials {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.socials{
    width: 48px;
    height: 48px;
}

.none_underline {
    text-decoration: none;
}
